<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<string>Swiss Transport.playgroundchapter</string>
		<string>Stadt Zürich.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>li.lsr.playground.OpenData</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Name</key>
	<string>Wrangle Open Data with Swift</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
